.benefits {
  padding: 120px 0;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 70px;
}

.benefits__item {
  text-align: center;
  width: 150px;
}

.benefits__item-img {
  margin-bottom: 53px;
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: $font-roboto;
  font-weight: 300;
}