.cta {
  padding: 180px 0;
  background: linear-gradient(180deg, $dark 10.42%,
  rgba(36, 43, 51, 0.00) 50.52%, $dark 90.10%), 
  linear-gradient(0deg, rgba(36, 43, 51, 0.90) 0%, 
  rgba(36, 43, 51, 0.90) 100%),
  url('./../img/cta/cta-bg.jpg'), #C4C4C4;

  @include tablets {
    padding: 60px 0px;
  }
}

.cta__title {
  margin-bottom: 17px;
}

.cta__wrapper {
  display: flex;
  gap: 30px;

  @include tablets {
    flex-direction: column;
  }
}

.cta__info {
  line-height: 1.5;
  flex: 1;

  @include tablets {
    font-size: 14px;
  }
}

.cta__form {
  display: flex;
  flex: 1;
}

.form {
  width: 100%;
}

.form__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 35px;

  @include phones {
    flex-direction: column;
  }
}

.form__input {
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-size: 14px;
  padding: 12px;
  height: 50px;
  // width: 255px;
  color: $accent;

  width: 100%;
}

.form__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @include phones {
    flex-direction: column-reverse;
  }
}

.form__privacy {
  font-size: 13px;
  text-align: center;
  line-height: 1.23;
  

  width: 50%;

  @include phones {
    width: 100%;
  }
}

.form__button {
  background-color: $accent;
  height: 50px;
  
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  color: $white;
  text-align: center;
  transition: background-color 0.2s;

  width: 50%;

  @include phones {
    width: 100%;
    font-size: 14px;
  }
  
  &:hover {
    background-color: saturate($accent, 10%);
  }
}

