.cta-question {

}

.cta-question__title {
  // margin-bottom: 49px;
}

.cta-question__form {
  display: flex;
  align-items: center;
  gap: 33px;
  padding: 38px 0 180px 0;

  @include tablets {
    padding: 38px 0 90px 0;
    flex-direction: column;
  }
}

.form__button--question {
  @include tablets {
    width: 100%;
  }
}