.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 840px;
  background: linear-gradient(180deg, #242B33 11.98%, 
  rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
  url('./../img/header/header-bg.jpg') center center no-repeat;
  padding: 30px 0 74px 0;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  position: relative;
  font-size: 48px;
  text-align: center;
  color: $accent;
  font-family: $font-accent;
  font-weight: 700;
  padding-bottom: 121px;
}

.header__title-icon {
  position: absolute;
  bottom: 110;
  left: 50%;
  transform: translate(-50%, 0%)
}

.header__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px
}