.section-map {
  position: relative;
  padding: 180px 0;

  &::before {
    content: 'V';
    @include decorNumber;

    top: 180px;
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    line-height: 1;
  }
}

.section-map__title {
  margin-bottom: 88px;
}

.section-map__container {

}

.map {
  height: 358px;
  background: gray;
}