.section-map {
  position: relative;
  padding: 180px 0;

  &::before {
    content: 'V';
    @include decorNumber;

    top: 180px;
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    line-height: 1;

    @include tablets {
      display: none;
    }
  }

  @include tablets {
    padding: 90px 0;
  }
} 

.section-map__title {
  margin-bottom: 88px;

  @include tablets {
    margin-bottom: 44px;
  }
}

.section-map__container {

}

.map {
  height: 358px;
  background: gray;
}